script(type="text/x-template")#contacts-component
  section.contacts#contacts
    .contacts__content
      h2.title.title--contacts.contacts__title contact me
      .contacts__links

        .socials
          ul.socials__list
            each item, index in socialItems
              li(class=`socials__item socials__item--${item}`)
                a(href=`${socialLinks[index]}` aria-label=`${socialAriaLabels[index]}` target="_blank").socials__link
                  +icon(item, `socials__icon socials__icon--${item} socials__icon--contact`)
      //- form.contacts__form(@submit.prevent="sendMessage")
        .contacts__form-row
          .contacts__form-col
            label.contacts__form-block(
              for="name"
              :class="{'error' : validation.firstError('user.name')}"
            )
              span.contacts__form-label your name
              input.contacts__form-input.contacts__form-input--name#name(type="text" name="name" placeholder="Иванов Иван" v-model="user.name")
              .contacts__form-error
                error-tooltip(
                  :errorText="validation.firstError('user.name')"
                )
          .contacts__form-col
            label.contacts__form-block(
              for="email"
              :class="{'error' : validation.firstError('user.email')}"
            )
              span.contacts__form-label your email
              input.contacts__form-input.contacts__form-input--email#email(type="text" name="email" placeholder="ivanov@mail.com" v-model="user.email")
              .contacts__form-error
                error-tooltip(
                  :errorText="validation.firstError('user.email')"
                )
        .contacts__form-row.contacts__form-row--last
          .contacts__form-col
            label.contacts__form-block(
              for="message"
              :class="{'error' : validation.firstError('user.message')}"
            )
              span.contacts__form-label.contacts__form-label--textarea your message
              textarea.contacts__form-textarea#message(name="message" rows="1" placeholder="Хочу красивый и современный сайт. Плачу много!" v-model="user.message")
              .contacts__form-error
                error-tooltip(
                  :errorText="validation.firstError('user.message')"
                )
        .contacts__form-row.contacts__form-row--submit
          button(type="submit").contacts__form-submit-btn Submit