include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href=require('images/icons/favicon.ico') type="image/x-icon")
    title PY | Portfolio

  body
    .wrapper

      //- main content
      main.maincontent
        .greeting

          //- hero section
          section.hero.fullscreen-section#hero
            .container.hero__container

              header.header
                .header__col.header__col--left
                  h3.logo PY

                .header__col.header__col--center

                  - var navItems = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                  - var navAnchors = ["#hero", "#personal-info", "#skills", "#works", "#reviews", "#contacts"];

                  nav.nav
                    ul.nav__list
                      each item, index in navItems
                        li.nav__item
                          a(href=`${navAnchors[index]}`).nav__link #{item}

                .header__col.header__col--right

                  - var socialItems = ['insta', 'vk', 'github'];

                  .socials
                    ul.socials__list
                      each item in socialItems
                        li(class=`socials__item socials__item--${item}`)
                          a(href="#").socials__link
                            +icon(item, `socials__icon socials__icon--${item}`)

              .hero__greeting-block-wrapper
                .hero__greeting-block
                  span.hero__greeting-text Личный сайт
                  span.hero__greeting-text веб-разработчика
                  h1.title.title--hero Платон Ясев

              .hero__btns-block
                a(href="#personal-info").scroll
                  span.scroll__text Скролл

          //- personal-info section
          - var personalInfoTableRows = { "Проживаю:": "Москва", "Возраст:": "24 года", "Родился:": "16 октября 1994" }
          section.personal-info#personal-info
            .container.personal-info__container
              .personal-info__content-wrapper
                .personal-info__content
                  .personal-info__image-table-block
                    .personal-info__image-block
                      .personal-info__image-wrapper
                        +image("content/avatar.jpg", "personal-info__image")
                    .personal-info__table-block
                      table.personal-info__table
                        each value, key in personalInfoTableRows
                          tr.personal-info__row
                            td.personal-info__col.personal-info__col--title #{key}
                            td.personal-info__col.personal-info__col--content #{value}
                  .personal-info__text-block
                    .personal-info__greeting-block
                      .personal-info__greeting-title Привет, меня зовут
                      h2.title.title--personal-info.personal-info__title Платон Ясев
                    .personal-info__info-text
                      p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                    .personal-info__info-text--italic
                      p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!

        //- skills section
        - 
          var stackItems = [
            ['Front-end', ['HTML5', 'CSS3', 'JavaScript', 'jQuery и Vue.js']],
            ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']]
          ]

        section.skills#skills
            .container.skills__container
              .skills__content-wrapper
                h2.title.title--skills.skills__title Чем я могу быть полезен вам
                .skills__content
                  .skills__content-charts
                    span.skills__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования
                    span.skills__desc LoftSchool. Чуть позже я освежу в нём свой контент.
                    span.skills__desc А пока посмотрите, как тут всё классно и красиво!
                    ul.skills__stack-list
                      each stackRow in stackItems
                        li.stack.skills__stack-item
                          h3.stack-row__title #{stackRow[0]}
                          ul.stack-row__list
                            each skill in stackRow[1]
                              li.skill.stack-row__item
                                .skill__wrapper
                                  svg.skill__chart(viewBox="0 0 100 100" preserveAspectRatio="none")
                                    defs
                                      linearGradient#circle-gradient(x1="0%" y1="0%" x2="0%" y2="100%")
                                        stop(offset="0%" stop-color="#ad00ed")
                                        stop(offset="100%" stop-color="#5500f2")
                                    circle.skill__circle.skill__circle--under(cx="50" cy="50" r="40")
                                    circle.skill__circle.skill__circle--above(cx="50" cy="50" r="40" stroke="url(#circle-gradient)")
                                  span.skill__title #{skill}
        
        //- works section
        - var workItems = [1, 2, 3, 4, 5]
        - 
          var previewsPath = [
          'content/work-previews/1.jpg',
          'content/work-previews/2.jpg',
          'content/work-previews/3.jpg',
          'content/work-previews/4.jpg',
          'content/work-previews/5.jpg',
          ]

        - var techList = ['HTML', 'CSS', 'JavaScript']

        section.works#works
          .container.works__container
            .works__content-wrapper
              h2.title.title--works.works__title Мои работы
              .works__content
                .works__slider
                  ul.works__slider-list
                    li.works__slider-item
                      .works__preview-block
                        .works__preview-img-wrapper
                          +image(previewsPath[0], "works__preview-img")
                          ul.works__preview-list
                            each item, index in workItems
                              - var activeClass = index === 0 ? 'works__preview-item--active': ''
                              li(class=`works__preview-item works__preview-item-${item} ${activeClass}`)
                                button(type="button").works__preview-item-btn
                                  +image(previewsPath[index], "works__preview-item-img")
                        .works__slider-arrows
                          button(type="button").works__slider-btn.works__slider-btn--up
                            +icon('arrow-down', 'arrow arrow--up')
                          button(type="button").works__slider-btn.works__slider-btn--down
                            +icon('arrow-down', 'arrow arrow--down')
                      .works__desc-block
                        ul.works__tech-list
                          each item in techList
                            span.tech.works__tech-item #{item}
                        .works__desc
                          .works__desc-title Сайт школы образования
                          .works__desc-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
                        a(href="#").works__link Посмотреть сайт
        
        .reviews-contacts-block
          .container
            
            //- reviews section
            - 
              var reviewsItems = [
                {
                  "name": "Ковальчук Дмитрий",
                  "position": "Основатель Loftschool",
                  "content": "Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!",
                  "photoPath": "content/avatar.jpg"
                },
                {
                  "name": "Владимир Сабанцев",
                  "position": "Преподаватель",
                  "content": "Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.",
                  "photoPath": "content/avatar.jpg"
                }
              ]

            section.reviews#reviews
                .reviews__slider
                  .reviews__heading-row
                    h2.title.title--reviews Что обо мне говорят
                    .reviews__arrows
                      button(type="button").reviews__btn.reviews__btn--left
                        +icon('arrow-down', 'arrow arrow--left')
                      button(type="button").reviews__btn.reviews__btn--left
                        +icon('arrow-down', 'arrow arrow--right')
                  ul.reviews__list
                    each item in reviewsItems
                      li.review.reviews__item
                        .review__content-block
                          blockquote.review__content
                            p #{item.content}
                          cite.review__person-info
                            .review__img-wrapper
                              +image(`${item.photoPath}`, "review__img")
                            .review__person-desc
                              .review__name #{item.name}
                              .review__position #{item.position}
            
            //- contacts section
            section.contacts#contacts
              .contacts__content
                h2.title.title--contacts.contacts__title Связаться со мной
                form.contacts__form
                  .contacts__form-row
                    .contacts__form-col
                      label.contacts__form-block(for="name")
                        span.contacts__form-label Введите ваше имя
                        input.contacts__form-input.contacts__form-input--name#name(type="text" name="name" placeholder="Иванов Иван")
                    .contacts__form-col
                      label.contacts__form-block(for="email")
                        span.contacts__form-label Введите ваш email
                        input.contacts__form-input.contacts__form-input--email#email(type="text" name="email" placeholder="ivanov@mail.com")
                  .contacts__form-row.contacts__form-row--last
                    .contacts__form-col
                      label.contacts__form-block(for="message")
                        span.contacts__form-label.contacts__form-label--textarea Сообщение к письму
                        textarea.contacts__form-textarea#message(name="message" rows="1" placeholder="Хочу красивый и современный сайт. Плачу много!")
                  .contacts__form-row.contacts__form-row--submit
                    button(type="submit").contacts__form-sumbit-btn Отправить
      
      //- footer
      footer.footer
        .container.footer__container
          .footer__copyright
            .copyright
              .copyright__year &copy; 2019
              .copyright__person-info
                .copyright__name Платон Ясев
                .copyright__desc Личный сайт
                .copyright__desc веб-разработчика
          .footer__content
            .footer__nav
              nav.nav
                ul.nav__list
                  each item, index in navItems
                    li.nav__item
                      a(href=`${navAnchors[index]}`).nav__link #{item}
            .footer__content-data
              .footer__about-me
                article.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__socials
                  .socials
                    ul.socials__list
                      each item in socialItems
                        li(class=`socials__item socials__item--rounded socials__item--${item}`)
                          a(href="#").socials__link
                            +icon(item, `socials__icon socials__icon--rounded socials__icon--${item}`)
              .footer__quote
                article.quote
                  blockquote.quote__text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете
                  cite.quote__author Martin Golding  