include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")

  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="icon" href=require('images/icons/favicon.ico') type="image/x-icon")
    title PY | Portfolio

  body
    .wrapper

      //- main content
      main.maincontent
        .greeting

          //- parallax for greeting sections
          .greeting-parallax
            .greeting-parallax__layer(data-speed="0.1")
              +image("parallax/mountain-baloon/layer-0.jpg", "greeting-parallax__image", "Слой для параллакса")
            .greeting-parallax__layer(data-speed="0.2")
              +image("parallax/mountain-baloon/layer-1.png", "greeting-parallax__image", "Слой для параллакса")
            .greeting-parallax__layer(data-speed="0.3")
              +image("parallax/mountain-baloon/layer-2.png", "greeting-parallax__image", "Слой для параллакса")
            .greeting-parallax__layer(data-speed="0.4")
              +image("parallax/mountain-baloon/layer-3.png", "greeting-parallax__image", "Слой для параллакса")
            .greeting-parallax__layer(data-speed="0.5")
              +image("parallax/mountain-baloon/layer-4.png", "greeting-parallax__image", "Слой для параллакса")
            .greeting-parallax__layer(data-speed="0.6")
              +image("parallax/mountain-baloon/layer-5.png", "greeting-parallax__image", "Слой для параллакса")
            .greeting-parallax__layer(data-speed="0.7")
              +image("parallax/mountain-baloon/layer-6.png", "greeting-parallax__image", "Слой для параллакса")

          //- hero section
          section.hero.fullscreen-section#hero
            .container.hero__container

              header.header
                .header__col.header__col--left
                  span.logo PY

                .header__col.header__col--center

                  - var navItems = ["Home", "About me", "Skills", "Projects", "Reviews", "Contacts"];
                  - var navAnchors = ["#hero", "#personal-info", "#skills", "#works", "#reviews", "#contacts"];

                  nav.nav
                    ul.nav__list
                      each item, index in navItems
                        li.nav__item.nav__item--header
                          a(href=`${navAnchors[index]}`).nav__link #{item}
                .header__col.header__col--last

                  .header__col.header__col--right

                    - var socialItems = ['insta', 'vk', 'github'];
                    - var socialAriaLabels = ['Go to Instagram', 'Go to VK', "Go to GitHub"];
                    - var socialLinks = ['https://www.instagram.com/yasevplaton/', 'https://vk.com/yasevplaton', "https://github.com/yasevplaton"];

                    .socials
                      ul.socials__list
                        each item, index in socialItems
                          li(class=`socials__item socials__item--${item}`)
                            a(href=`${socialLinks[index]}` aria-label=`${socialAriaLabels[index]}` target="_blank").socials__link
                              +icon(item, `socials__icon socials__icon--${item}`)

                  .header__col.header__col--hamburger
                    .hamburger-menu
                      .hamburger-menu__bar1
                      .hamburger-menu__bar2
                      .hamburger-menu__bar3

                  .mobile-menu

                    .mobile-menu__cntrls
                      button(type="button").mobile-menu__close
                        +icon('remove', "mobile-menu__close-icon")

                    .mobile-menu__content
                      ul.mobile-menu__list
                        each item, index in navItems
                          li.mobile-menu__item
                            a(href=`${navAnchors[index]}`).mobile-menu__link #{item}
                      
                      .mobile__menu__socials
                        .socials
                          ul.socials__list
                            each item, index in socialItems
                              li(class=`socials__item socials__item--${item}`)
                                a(href=`${socialLinks[index]}` aria-label=`${socialAriaLabels[index]}` target="_blank").socials__link
                                  +icon(item, `socials__icon socials__icon--${item}`)


              .hero__greeting-block-wrapper
                h1.hero__greeting-block
                  .hero__greeting-desc
                    span.hero__greeting-text web-developer
                    //- span.hero__greeting-text personal site
                  .hero__greeting-name
                    span.title.title--hero.title--hero-name Platon 
                    span.title.title--hero.title--hero-surname Yasev

              .hero__btns-block
                a(href="#personal-info").scroll
                  //- span.scroll__text Scroll

          //- personal-info section
          - var personalInfoTableRows = { "Home:": "Moscow", "Age:": "25" }
          section.personal-info#personal-info
            .container.personal-info__container
              .personal-info__content-wrapper
                .personal-info__content
                  .personal-info__image-table-block
                    .personal-info__image-block
                      .personal-info__image-wrapper
                        +image("content/avatar.jpg", "personal-info__image", "Developer Photo")
                    .personal-info__table-block
                      table.personal-info__table
                        each value, key in personalInfoTableRows
                          tr.personal-info__row
                            td.personal-info__col.personal-info__col--title #{key}
                            td.personal-info__col.personal-info__col--content #{value}
                  .personal-info__text-block
                    .personal-info__greeting-block
                      span.personal-info__greeting-title Hello, my name is
                      h2.title.title--personal-info.personal-info__title Platon Yasev
                    .personal-info__info-text
                      p I am a web developer with strong GIS skills. Love to make beautiful and functional web applications, especially related to data visualization and mapping. Rational perfectionist.

        //- triangles
        .triangles-greeting
          svg.triangles-greeting__item.triangles-greeting__item--left(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 0,100 1000,100")
          svg.triangles-greeting__item.triangles-greeting__item--right(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,100 1000,100 1000,0")



        //- skills section
        #skills-root

        //- works section

        #works-root

        //- triangle for reviews-contacts block
        .triangles-reviews-contacts
          svg.triangles-reviews-contacts__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 500,100 1000,0")


        .reviews-contacts-block

          .rev-cont-parallax
            .rev-cont-parallax__layer(data-speed="0.1")
              +image("parallax/budda/layer-1.jpg", "rev-cont-parallax__image", "Слой для параллакса")
            .rev-cont-parallax__layer(data-speed="0.3")
              +image("parallax/budda/layer-2.png", "rev-cont-parallax__image", "Слой для параллакса")
            .rev-cont-parallax__layer(data-speed="0.4")
              +image("parallax/budda/layer-3.png", "rev-cont-parallax__image", "Слой для параллакса")
            .rev-cont-parallax__layer(data-speed="0.7")
              +image("parallax/budda/layer-4.png", "rev-cont-parallax__image", "Слой для параллакса")
            .rev-cont-parallax__layer(data-speed="0.7")
              +image("parallax/budda/layer-5.png", "rev-cont-parallax__image", "Слой для параллакса")
            .rev-cont-parallax__layer(data-speed="0.7")
              +image("parallax/budda/layer-6.png", "rev-cont-parallax__image", "Слой для параллакса")


          .container

            //- reviews-section
            #reviews-root

            //- contacts section

            #contacts-root
            

      //- footer
      footer.footer
        .container.footer__container
          .footer__copyright
            .copyright
              .copyright__year &copy; 2020
              .copyright__person-info
                span.copyright__name Platon Yasev
                span.copyright__desc web-developer 
                span.copyright__desc personal site
          .footer__content
            .footer__nav
              .nav
                ul.nav__list
                  each item, index in navItems
                    li.nav__item.nav__item--footer
                      a(href=`${navAnchors[index]}`).nav__link #{item}
            .footer__content-data
              .footer__about-me
                //- article.footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
                .footer__socials
                  .socials
                    ul.socials__list
                      each item, index in socialItems
                        li(class=`socials__item socials__item--rounded socials__item--${item}`)
                          a(href=`${socialLinks[index]}` aria-label=`${socialAriaLabels[index]}` target="_blank").socials__link
                            +icon(item, `socials__icon socials__icon--rounded socials__icon--${item}`)
              .footer__quote
                blockquote.quote
                  .quote__text
                    p Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live.
                  cite.quote__author Martin Golding  

    include ./templates/entry.pug